* {
    box-sizing: border-box;
  }

  body {
    display:flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    height: 100vh;
    width: 66%;
    /* justify-content: center;
    align-self: flex-end; */
  }
  #actions {
    height: 100vh;
    width: 33%;
    /* justify-content: center; */
  }

  .boxes {
    display: flex;
    padding: 5em;
    color : white;
    flex-direction: column;
  }

  #choices {
    height: 50%;
    color : white;
    justify-content: center;
    background: rgb(115, 98, 124);
    padding: 5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #itenerary {
    height: 50%;
    background: darkviolet;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


