* {
    box-sizing: border-box;
  }
  
  body {
    display:flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    height: 100%;
    width: 66%;
  }
  #actions {
    height: 100%;
    width: 33%;
  }

